body {
    height: 100%;
}

#streamStreamOptions {
    width: 800px;
    float: left;
}

#streamEncodingOptions {
    margin-left: 800px;
}

.sectionHeader {
    font-weight: bold;
    font-size: 16pt;
}